/* hela sidan*/ 
*{
    padding: 0;
        margin: 0;

     
}




/* logga*/
.logo {
    top:0px;
    width: 60%;
  
}
.logo img {

    width: 100%;
    
}

/*nav-bar forts*/
ul{
    list-style: none;
  
}
.logonav {
    top: 0;
    margin-top: 0;
width:1440px;
height: 200px;
    justify-content: space-between;
      align-items: center;
    display: flex;
   
      background-color:rgb(252,252,234);
    
    
}
.menu-ctn li  {



      align-items: center;
  background-color:rgb(252,252,234);
    top: 0px;
   right:0px;
   flex-flow: row no-wrap;
   display: inline-block;
    padding: 4px 15px;
    color: rgb(0,0,0);
 font: 16px Montserrat; 
    font-weight: bold;
    transition: all 0.8s ease;
 position: relative; 
}
/*länkar får svart färg*/
li a:link { 
 color: rgb(0,0,0);
    text-decoration: none;
    
}
li a:visited {
color: rgb(0,0,0);
    text-decoration: none;
}
/*hover effekter*/
.menu-ctn li:hover { 

cursor: pointer; 
background-color: rgba(122,204,224,0.75);
    

}


/* dropmeny startsida*/

#droptjo { 
    display:none;
    position: absolute;
    width: 100%;
     text-transform: none;
    background-color: #fff; 
      z-index: 1;
 text-align: center;
    left: 0;
    font-size: 10px;
    top: 100%;
           font-weight: normal;
  justify-content: center;
   

}

/* dropmeny galleri*/
#dropgalleri { 
    display:none;
    position: absolute;
    width: 100%;
    text-transform: none;
    background-color: #fff; 
     z-index: 1;
    text-align: center;
   font-weight: normal;
    left: 0;
    font-size: 10px;
    top: 100%;
      justify-content: center;
}




/* dropmeny om mig*/
#dropommig { 
  display:none;
    position: absolute;
    width: 100%;
    text-transform: none;
    background-color: rgb(252,252,234);
     z-index: 1;
        text-align: center;
  font-weight: normal;
    left: 0;
    font-size: 10px;
    top: 100%;
       
 
      justify-content: center;
}
/* dropmeny kontakt*/
#dropkontakt { 
  display:none;
    position: absolute;
    width: 100%;
    text-transform: none;
    background-color: white; 
       text-align: center;
     z-index: 1;
   font-weight: normal;
    left: 0;
    font-size: 10px;
    top: 100%;
       
  justify-content: center;
}

/* dropmenyerna visas inte först*/


/* dropmenyernas rubriker får en padding */
#droptjo li {
    padding: 5px 1px;
    

}

#dropgalleri li {
    padding: 5px 15px;
    

}

#dropkontakt li {
    padding: 5px 1px;
    

}

#dropommig li {
    padding: 5px 1px;
    

}


.navbar {
    width: 300px; 
    height: 100%;
    background-color: #fff; 
    position: fixed; 
    top: 0;
    right: -300px;
    display: flex;
    align-items: center;
    border-radius: 0 0 0 0;
     font-weight: bold;
    z-index: 1;
        }

.change {
    
right: 0; 
}
/*
.nav-list {
    text-align: right;
    
}*/
.nav-item {
    list-style: none; 
    margin: 25px;
    text-decoration: none;
}

.nav-item:hover {
   cursor: pointer; 
background-color: rgba(122,204,224,0.75);
}
.hamburger-menu {
    background-color: rgba(122,204,224);
    width: 45px; 
    height: 40px; 
    position: fixed;  
    margin-top:-320px;
    left: 1350px;
    cursor:pointer;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-width: 2px;
    z-index: 1;
    border-color: #000;
     
}

.line {
  align-items: center;
    
    width: 80%; 
    height: 3px;
    top:0; 
    margin-left: 4px;
    background-color: #000; 
    font-size: 14px;
    color: #000;
    font-weight:300; 
    transition: all 0.8s;

    
}

.change .line-1{
    transform: rotateZ(-45deg) translate(-8px, 10px);
}
.change .line-2 {
    opacity: 0;
}
.change .line-3{
    transform: rotateZ(45deg)translate(-8px, -11px);
}
.hello{
    top:20px;
   font-size: 16px;
     font: 16px Montserrat;
      font-weight: bold;
     z-index: 1; 
     color: rgb(0,0,0);
 
}
p {
     top:25px;
     font-weight: normal;
     font: 12px Montserrat;
     z-index: 1; 
  
}


.skarmteckning {
  margin-top: -200px;
    font-family: "Montserrat";
    background-color: rgba(255,255,255);
     width: 400px; 
    height: 250px; 
    z-index: 1; 
    text-align: center;
    justify-content: center;
    
    
  
}

.background {
    background-size:1440px;
    padding: 20em;
    background-image: url(iimg/Norrskar1_email.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: relative;
 

z-index: -1;
}
#link {
    font: 16px Montserrat;
    font-weight: bold;
    text-decoration-color: #000;
     z-index: 1; 
    list-style: none; 
   
}

a{
 
      font: 16px Montserrat;
    font-weight: bold;
     z-index: 1; 
    list-style: none; 
    
}



.skarm {
    margin-top: -250px;
    margin-left: 500px;
    font-family: "Montserrat";
    background-color: rgba(255,255,255);
width: 400px; 
    height: 250px;
    z-index: 1; 
    text-align: center;
    justify-content: center;
    margin-bottom: 680px;
    
    
  
}
.screen{
    padding-top: 50px;
   justify-content: center;
    align-content: center;
}

.screendrawing {
    padding-top:20px;
     font-family: "Montserrat";
 
    font: 16px Montserrat;
    font-size:16px;
    font-weight: bold;
}
@media screen and (max-width: 1440px){
    .rightFooter {
      background-color: rgb(252,252,234);
    width: 1400px;
    height: 100px;
 margin-top: 600px;
    justify-content: center;
    right: 300px;
       
    

}

footer {
     width: 1400px;
    height: 200px;
    background-color: rgb(252,252,234);
    margin-top:600px;
    
}
    }

.rightFooter li  {
      align-items: center;
margin-top: 0px;
   
   flex-flow: row no-wrap;
   display: inline-block;
    padding: 10px 15px;
    color: rgb(0,0,0);
 font:13px Montserrat; 
    font-weight: bold;
    transition: all 0.8s ease;
 position:relative; 

    border-radius: 0 0 0 0;
  
}




/* dropmeny startsida*/

#menus #menusalt { 
  top:0px;
    display: block;
    position: absolute;
    width: 100%;
     text-transform: none;
    font-weight: normal;
    right: 0px;
      z-index: 1;
 text-align: center;
    top: 100%;
  
    font-size: 10px;
    
           font-weight: normal;
  justify-content: center;
   

}

/* dropmeny galleri*/
#menug #menugalt { 
         top:0px;
    display:block;
    position: absolute;
    width: 100%;
    text-transform: none;
    right: 0px;
     z-index: 1;
    text-align: center;
   font-weight: normal;
 
    font-size: 10px;
    top: 100%;
   
      justify-content: center;
}




/* dropmeny om mig*/
#menuo #dropoalt { 
    top:0px;
  display:block;
    position: absolute;
    right: 0px;
    width: 100%;
    text-transform: none;
    top: 100%;
   
     z-index: 1;
        text-align: center;
  font-weight: normal;
   
    font-size: 10px;
  
       
 
      justify-content: center;
}
/* dropmeny kontakt*/
#menuk #dropkalt { 
    top:0px;
  display:block;
    position: absolute;
    width: 100%;
    text-transform: none;
  right: 0px;
       text-align: center;
     z-index: 1;
   font-weight: normal;
    top: 100%;
    
    font-size: 10px;
 
       
  justify-content: center;
}


/* dropmenyerna visas inte först*/


/* dropmenyernas rubriker får en padding */
#menusalt li {
    padding: 10px 1px;
    

}

#menugaltli {
    padding: 10px 1px;
    

}

#menuoalt li {
    padding: 10px 1px;
    

}

#menukalt li {
    padding: 10px 1px;
    

}

.media {
  
   margin-left:40px;
    margin-top: -30px;
      z-index: 1;
   
}
/*
.iconss {
      margin-top:-30px;
    margin-left:940px;
     width: 100px;
    height: 50px;
     
 
}

.mail {
   margin-left:70px;
    margin-top:-24px;
    z-index: 1;
}
    

/*
:root {
    
    --primary-color: rgba(250,250,141,1);
    --overlay-color:rgba(255,255,255,1);
    --menu-speed:0.75s;
}
*/




/*animation hamburger meny kryss */
/*
.menu-btn.open {
    
    transform: translateX(-25px);
      display: inline-block;
     font: 14px Montserrat;
justify-content: center;
   align-items: center;
   border: 2px solid rgb(122,204,224);
      width: 100px;
    height: 200px;
    background-color: transparent;
   z-index: 1;
     /*margin: 300px;*//*
    text-decoration-color:#000;
 top:35px;
  left: 1050px;    
      padding: 100px 15px;
    

    
}*/





/*.drop:hover .ctn {display: block;}*/
/*
.drop:hover .menu-btn {background-color: #3e8e41;}
*/



/*.showcase{
    background-color:var rgba(250,250,141,0.75);
    color: #fff;
    height: 100vh;
    position: relative
}
/*hamburger meny test*/ /*
.container{
    max-width: 960px; 
    margin:auto;
    overflow: hidden;
    padding:0 3rem;
}
.showcase:before {
    content:'';
    background-image: url('img/Norrskarr.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
 z-index: -1;
}

.showcase .showcase-inner {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}*/
/* nav-bar*/




/* hamburgar meny*/



